<div class="jumbotron jumbotron-fluid">
    <h1>Article Scraper</h1>
</div>
<div class="container">
    <div class="sort">
        <button type="button" class="btn btn-info" id="by-date">By Date</button>
        <button type="button" class="btn btn-info" id="by-author">
            By Author
        </button>
        <button type="button" class="btn btn-info" id="scrape-arts">
            Scrape Beauty Articles
        </button>
    </div>

    <div class="grid-container">
        {{#each blogPost}}
        <div class="card">
            <div class="card-body">
                <div class="text">
                    <h4 class="card-title"><a href="#">{{title}}</a></h4>
                    <p class="card-text">{{date}}</p>
                    <p class="card-text">{{author}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>