<h3 class="header">Article Scraper</h3>
    <div id="buttons">
      <button class="btn" id="date-sort">Sort By Date</button>
      <button class="btn" id="author-sort">Sort By Author</button>
    </div>
    <table id="results">
      <thead>
        <tr>
          <th id="beauty-date">Date</th>
          <th id="beauty-title">Title</th>
          <th id="beauty-author">Author</th>
        </tr>
      </thead>
      <tbody>
        <!-- Results from DB here -->
        {{#each beauty}}
            {{> beauty-block}}
        {{/each}}
      </tbody>
    </table>
