body {
  background-color: #e3e3e3;
}
.article{
  background-color: #e3e3e3;
  height: 250px;
  text-align: center;
  color: white;
}
.jumbotron {
  background: transparent;
  color: white;
  margin-bottom: -20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: auto;
}
.scrape {
  display: flex;
  flex-flow: column nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
}
h1 {
  font-size: 80px;
  color: #663a82;
  text-align: center;
  margin: auto;
}
p {
  font-family: "Open Sans", sans-serif;
}
button {
  margin-left: 10px;
  margin-right: 10px;

}

.btn-info {
  background-color: #663a82;
  color: #ffffff;
  font-family: "Sen", sans-serif;
  border: none;
  margin-top: 0px;

}
.card {
  margin: 5px 0px;
}
.card-body {
  display: flex;
  flex-flow: row nowrap;
}
.card-body img {
  margin-right: 20px;
}
.text {
  display: flex;
  flex-flow: column nowrap;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 10px;
  padding: 10px;
}
